/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Similar text styling */
	font: bold 14px Arial, sans-serif;
}



/* A lighter background gradient*/
html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 15%, #ccc);
	background-size: cover;
}

/* Similar shadow effects */
#calculator {
	width: 325px;
	height: auto;
	
	margin: 100px auto;
	padding: 20px 20px 9px;
	
	background: #C3C4C0;
	background: linear-gradient(#C3C4C0, #EEF2E9);
	border-radius: 3px;
	box-shadow: 0px 4px #B1B3AF, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.theme {
	float: left;
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

/* Inset shadow on the screen to create indent */
.top .screen {
	height: 40px;
	width: 212px;
	
	float: right;
	
	padding: 0 10px;
	
	background: #B9BDBC;
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.theme {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 66px;
	height: 36px;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

/*Width  adjusted for the the zero key for better presence*/ 
.keys span.span0 {
	background: white;
	margin-right: 0;
	width: 138px;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* CSS3 transitions for smoothing out hover and active states */
	transition: all 0.2s ease;
	
}

.keys span.eval {
	background: #7EBF87;
	box-shadow: 0px 4px #678A6C;
	color: #686E44;
	width: 138px;
}

.keys span.clear {
	background: #A397DB;
	box-shadow: 0px 4px #5C567A;
	color: white;
}

/* Some hover effects */
.top span.theme:hover{
	background: #276C8A;
	box-shadow: 0px 4px #1D4557;
	color: white;
}

.keys span:hover {
	background: #276C8A;
	box-shadow: 0px 4px #1D4557;
	color: white;
}

.keys span.eval:hover {
	background: #2C8F3A;
	box-shadow: 0px 4px #1D5926;
	color: #ffffff;
}

.keys span.clear:hover {
	background: #276C8A;
	box-shadow: 0px 4px #1D4557;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	box-shadow: 0px 0px #B1A5E8;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.keys span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #C0E0ED;
}
